<a href="https://colab.research.google.com/github/fhallatu/2_version-control-and-branch-management-git/blob/main/Soyaland.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Preparation**

## **Import Data**

In [34]:
import pandas as pd

In [35]:
path_dataset = "/content/Data Bengkulu Tengah (used).csv"
df_benteng = pd.read_csv(path_dataset, sep=';')

In [36]:
df_benteng.head()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
0,1,1,Talang Empat,Bengkulu Tengah,Bengkulu,26.072,3025,83.51,7,2,...,53.11,5.42,1.25,0.18,2.9,0.09,3,1,N,S3
1,1,2,Pondok Kelapa,Bengkulu Tengah,Bengkulu,26.072,2655,83.51,7,2,...,53.11,5.42,1.25,0.18,2.9,0.09,3,1,N,S3
2,2,3,Talang Empat,Bengkulu Tengah,Bengkulu,26.228,3025,83.51,7,2,...,53.11,5.42,1.25,0.18,2.9,0.09,1,1,N,S3
3,2,4,Pondok Kelapa,Bengkulu Tengah,Bengkulu,26.228,2655,83.51,7,2,...,53.11,5.42,1.25,0.18,2.9,0.09,1,1,N,S3
4,3,5,Pematang Tiga,Bengkulu Tengah,Bengkulu,25.772,2655,83.51,7,2,...,53.11,5.42,1.25,0.18,2.9,2.90,3,1,N,S3

In [37]:
df_benteng.tail()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
66,27,67,Merigi Kelindang,Bengkulu Tengah,Bengkulu,20.450,2655,83.51,7,4,...,55.14,5.08,0.29,0.11,6.13,0.11,40,4,N,N
67,27,68,Taba Penanjung,Bengkulu Tengah,Bengkulu,20.450,3799,83.51,9,4,...,55.14,5.08,0.29,0.11,6.13,0.11,40,4,N,N
68,28,69,Merigi Sakti,Bengkulu Tengah,Bengkulu,25.250,3147,83.51,8,4,...,55.14,5.08,0.29,0.11,6.13,0.11,25,3,N,S3
69,29,70,Pagar Jati,Bengkulu Tengah,Bengkulu,22.472,880,83.51,2,4,...,55.14,5.08,0.29,0.11,6.13,0.11,40,4,N,N
70,29,71,Taba Penanjung,Bengkulu Tengah,Bengkulu,22.472,3799,83.51,9,4,...,55.14,5.08,0.29,0.11,6.13,0.11,40,4,N,N

In [38]:
df_benteng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mapping Unit       71 non-null     int64
 1   No.                71 non-null     int64
 2   Kecamatan          71 non-null     object
 3   Kabupaten / Kota   71 non-null     object
 4   Provinsi           71 non-null     object
 5   temperatur_rerata  71 non-null     float64
 6   curah_hujan        71 non-null     int64
 7   kelembaban         71 non-null     float64
 8   bulan_basah        71 non-null     int64
 9   drainase           71 non-null     int64
 10  tekstur            71 non-null     object
 11  kedalaman_tanah    71 non-null     int64
 12  ktk_tanah          71 non-null     float64
 13  kejenuhan_basa     71 non-null     float64
 14  ph_h2o             71 non-null     float64
 15  c_organik          71 non-null     float64
 16  n_total            71 non-null     float64
 17  p2o5               71 non-null     float64
 18  k2o                71 non-null     float64
 19  lereng             71 non-null     int64
 20  bahaya_erosi       71 non-null     int64
 21  label_evaluasi     71 non-null     object
 22  kelas_potensial    71 non-null     object
dtypes: float64(9), int64(8), object(6)
memory usage: 12.9+ KB

In [39]:
path_dataset = "/content/Data Kepahiang (used).csv"
df_kepahiang = pd.read_csv(path_dataset, sep=';')

In [40]:
df_kepahiang.head()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
0,1,1,Bermani Ilir,Kepahiang,Bengkulu,23.834,1807,87.42,3,4,...,27.911882,6.48,6.20,1.22,7.90,56.53,10,NaN,N,S3
1,2,2,Seberang Musi,Kepahiang,Bengkulu,22.682,1749,87.42,4,3,...,37.416107,5.03,1.32,0.37,6.47,16.81,3,NaN,S3,S2
2,2,3,Tebat Karai,Kepahiang,Bengkulu,22.682,1584,87.42,4,3,...,37.416107,5.03,1.32,0.37,6.47,16.81,3,NaN,S3,S2
3,3,4,Kabawetan,Kepahiang,Bengkulu,23.834,3108,87.42,8,4,...,27.911882,6.48,6.20,1.22,7.90,56.53,10,NaN,N,S3
4,4,5,Kabawetan,Kepahiang,Bengkulu,22.004,3108,87.42,8,6,...,22.396114,6.73,2.40,0.46,13.89,22.12,6,NaN,N,S3

In [41]:
df_kepahiang.tail()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
27,18,27,Bermani Ilir,Kepahiang,Bengkulu,23.12,1807,87.42,3,5,...,19.302701,4.965,0.640,0.240,1.685,21.285,22,NaN,N,N
28,18,28,Seberang Musi,Kepahiang,Bengkulu,23.12,1749,87.42,4,5,...,19.302701,4.965,0.640,0.240,1.685,21.285,22,NaN,N,N
29,18,29,Muara Kemumu,Kepahiang,Bengkulu,23.12,1563,87.42,3,5,...,19.302701,4.965,0.640,0.240,1.685,21.285,22,NaN,N,N
30,19,30,Seberang Musi,Kepahiang,Bengkulu,22.34,1749,87.42,4,5,...,8.357957,4.075,3.405,0.285,2.605,8.875,45,NaN,N,N
31,19,31,Tebat Karai,Kepahiang,Bengkulu,22.34,1584,87.42,4,5,...,8.357957,4.075,3.405,0.285,2.605,8.875,45,NaN,N,N

In [42]:
df_kepahiang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mapping Unit       32 non-null     int64
 1   No.                32 non-null     int64
 2   Kecamatan          32 non-null     object
 3   Kabupaten / Kota   32 non-null     object
 4   Provinsi           32 non-null     object
 5   temperatur_rerata  32 non-null     float64
 6   curah_hujan        32 non-null     int64
 7   kelembaban         32 non-null     float64
 8   bulan_basah        32 non-null     int64
 9   drainase           32 non-null     int64
 10  tekstur            32 non-null     object
 11  kedalaman_tanah    32 non-null     int64
 12  ktk_tanah          32 non-null     float64
 13  kejenuhan_basa     32 non-null     float64
 14  ph_h2o             32 non-null     float64
 15  c_organik          32 non-null     float64
 16  n_total            32 non-null     float64
 17  p2o5               32 non-null     float64
 18  k2o                32 non-null     float64
 19  lereng             32 non-null     int64
 20  bahaya_erosi       0 non-null      float64
 21  label_evaluasi     32 non-null     object
 22  kelas_potensial    32 non-null     object
dtypes: float64(10), int64(7), object(6)
memory usage: 5.9+ KB

In [43]:
path_dataset = "/content/Data Lebong (used).csv"
df_lebong = pd.read_csv(path_dataset, sep=';')

In [44]:
df_lebong.head()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
0,1,1,Topos,Lebong,Bengkulu,24.50,2616,84.7,5,2,...,13.90,6.50,1.78,0.43,5,3,3,NaN,N,S3
1,2,2,Pinang Belapis,Lebong,Bengkulu,24.50,1720,84.7,8,2,...,23.37,6.00,1.08,0.47,4,3,3,NaN,S3,S2
2,3,3,Pinang Belapis,Lebong,Bengkulu,23.44,1720,84.7,8,5,...,20.67,6.49,0.58,0.28,4,4,6,NaN,S3,S2
3,4,4,Bingin Kuning,Lebong,Bengkulu,20.64,2697,84.7,6,2,...,34.50,5.80,4.15,0.40,4,3,3,NaN,N,S3
4,5,5,Topos,Lebong,Bengkulu,21.73,2616,84.7,5,5,...,30.92,5.39,1.38,0.22,3,3,15,NaN,N,S3

In [45]:
df_lebong.tail()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
55,31,56,Lebong Selatan,Lebong,Bengkulu,20.0,2831,84.7,7,5,...,15.40,5.97,0.88,0.27,4,3,100,NaN,N,N
56,31,57,Pelabai,Lebong,Bengkulu,20.0,2890,84.7,6,5,...,15.40,5.97,0.88,0.27,4,3,100,NaN,N,N
57,31,58,Pinang Belapis,Lebong,Bengkulu,20.0,1720,84.7,8,5,...,15.40,5.97,0.88,0.27,4,3,100,NaN,N,N
58,31,59,Topos,Lebong,Bengkulu,20.0,2616,84.7,5,5,...,15.40,5.97,0.88,0.27,4,3,100,NaN,N,N
59,32,60,Pinang Belapis,Lebong,Bengkulu,20.0,1720,84.7,8,5,...,11.19,4.97,0.88,0.27,4,3,100,NaN,N,N

In [46]:
df_lebong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mapping Unit       60 non-null     int64
 1   No.                60 non-null     int64
 2   Kecamatan          60 non-null     object
 3   Kabupaten / Kota   60 non-null     object
 4   Provinsi           60 non-null     object
 5   temperatur_rerata  60 non-null     float64
 6   curah_hujan        60 non-null     int64
 7   kelembaban         60 non-null     float64
 8   bulan_basah        60 non-null     int64
 9   drainase           60 non-null     int64
 10  tekstur            60 non-null     object
 11  kedalaman_tanah    60 non-null     int64
 12  ktk_tanah          60 non-null     float64
 13  kejenuhan_basa     60 non-null     float64
 14  ph_h2o             60 non-null     float64
 15  c_organik          60 non-null     float64
 16  n_total            60 non-null     float64
 17  p2o5               60 non-null     int64
 18  k2o                60 non-null     int64
 19  lereng             60 non-null     int64
 20  bahaya_erosi       0 non-null      float64
 21  label_evaluasi     60 non-null     object
 22  kelas_potensial    60 non-null     object
dtypes: float64(8), int64(9), object(6)
memory usage: 10.9+ KB

In [47]:
path_dataset = "/content/Data Mukomuko (used).csv"
df_mukomuko = pd.read_csv(path_dataset, sep=';')

In [48]:
df_mukomuko.head()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
0,1,1,Air Dikit,Mukomuko,Bengkulu,26.04,1321,5,68.5,2,...,34.35,5.83,0.68,0.12,26.19,8.13,1,1,S3,S2
1,1,2,Malin Deman,Mukomuko,Bengkulu,26.04,2586,7,68.5,2,...,34.35,5.83,0.68,0.12,26.19,8.13,1,1,N,S3
2,2,3,Ipuh,Mukomuko,Bengkulu,26.08,3279,8,68.5,4,...,47.48,5.14,1.24,0.22,126.61,35.71,3,1,N,S3
3,3,4,XIV Koto,Mukomuko,Bengkulu,26.15,2586,7,68.5,2,...,61.24,5.16,1.99,0.19,308.07,19.98,1,1,N,S3
4,3,5,Lubuk Pinang,Mukomuko,Bengkulu,26.15,2489,5,68.5,2,...,61.24,5.16,1.99,0.19,308.07,19.98,1,1,N,S3

In [49]:
df_mukomuko.tail()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
79,29,80,Selagan Raya,Mukomuko,Bengkulu,22.44,1625,7,68.5,5,...,23.69,5.14,0.0,0.18,9.15,8.21,41,4,N,N
80,29,81,Penarik,Mukomuko,Bengkulu,22.44,2772,7,68.5,5,...,23.69,5.14,0.0,0.18,9.15,8.21,41,4,N,N
81,29,82,Malin Deman,Mukomuko,Bengkulu,22.44,2586,7,68.5,5,...,23.69,5.14,0.0,0.18,9.15,8.21,41,4,N,N
82,30,83,Pondok Suguh,Mukomuko,Bengkulu,17.75,2708,7,68.5,5,...,0.00,5.72,3.3,0.00,17.50,9.00,40,3,N,N
83,31,84,Sungai Rumbai,Mukomuko,Bengkulu,17.90,2586,7,68.5,5,...,0.00,5.72,2.3,0.00,17.50,9.00,41,4,N,N

In [50]:
df_mukomuko.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mapping Unit       84 non-null     int64
 1   No.                84 non-null     int64
 2   Kecamatan          84 non-null     object
 3   Kabupaten / Kota   84 non-null     object
 4   Provinsi           84 non-null     object
 5   temperatur_rerata  84 non-null     float64
 6   curah_hujan        84 non-null     int64
 7   kelembaban         84 non-null     int64
 8   bulan_basah        84 non-null     float64
 9   drainase           84 non-null     int64
 10  tekstur            84 non-null     object
 11  kedalaman_tanah    84 non-null     int64
 12  ktk_tanah          84 non-null     float64
 13  kejenuhan_basa     84 non-null     float64
 14  ph_h2o             84 non-null     float64
 15  c_organik          84 non-null     float64
 16  n_total            84 non-null     float64
 17  p2o5               84 non-null     float64
 18  k2o                84 non-null     float64
 19  lereng             84 non-null     int64
 20  bahaya_erosi       84 non-null     int64
 21  label_evaluasi     84 non-null     object
 22  kelas_potensial    84 non-null     object
dtypes: float64(9), int64(8), object(6)
memory usage: 15.2+ KB

## **Data Integration**

Penggabungan Dataframe

In [54]:
frames = [df_benteng,df_kepahiang,df_lebong,df_mukomuko]
df = pd.concat(frames).reset_index(drop=True)

In [55]:
df.head()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
0,1,1,Talang Empat,Bengkulu Tengah,Bengkulu,26.072,3025,83.51,7.0,2,...,53.11,5.42,1.25,0.18,2.9,0.09,3,1.0,N,S3
1,1,2,Pondok Kelapa,Bengkulu Tengah,Bengkulu,26.072,2655,83.51,7.0,2,...,53.11,5.42,1.25,0.18,2.9,0.09,3,1.0,N,S3
2,2,3,Talang Empat,Bengkulu Tengah,Bengkulu,26.228,3025,83.51,7.0,2,...,53.11,5.42,1.25,0.18,2.9,0.09,1,1.0,N,S3
3,2,4,Pondok Kelapa,Bengkulu Tengah,Bengkulu,26.228,2655,83.51,7.0,2,...,53.11,5.42,1.25,0.18,2.9,0.09,1,1.0,N,S3
4,3,5,Pematang Tiga,Bengkulu Tengah,Bengkulu,25.772,2655,83.51,7.0,2,...,53.11,5.42,1.25,0.18,2.9,2.90,3,1.0,N,S3

In [56]:
df.tail()

,Mapping Unit,No.,Kecamatan,Kabupaten / Kota,Provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,...,kejenuhan_basa,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,kelas_potensial
242,29,80,Selagan Raya,Mukomuko,Bengkulu,22.44,1625,7.0,68.5,5,...,23.69,5.14,0.0,0.18,9.15,8.21,41,4.0,N,N
243,29,81,Penarik,Mukomuko,Bengkulu,22.44,2772,7.0,68.5,5,...,23.69,5.14,0.0,0.18,9.15,8.21,41,4.0,N,N
244,29,82,Malin Deman,Mukomuko,Bengkulu,22.44,2586,7.0,68.5,5,...,23.69,5.14,0.0,0.18,9.15,8.21,41,4.0,N,N
245,30,83,Pondok Suguh,Mukomuko,Bengkulu,17.75,2708,7.0,68.5,5,...,0.00,5.72,3.3,0.00,17.50,9.00,40,3.0,N,N
246,31,84,Sungai Rumbai,Mukomuko,Bengkulu,17.90,2586,7.0,68.5,5,...,0.00,5.72,2.3,0.00,17.50,9.00,41,4.0,N,N

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Mapping Unit       247 non-null    int64
 1   No.                247 non-null    int64
 2   Kecamatan          247 non-null    object
 3   Kabupaten / Kota   247 non-null    object
 4   Provinsi           247 non-null    object
 5   temperatur_rerata  247 non-null    float64
 6   curah_hujan        247 non-null    int64
 7   kelembaban         247 non-null    float64
 8   bulan_basah        247 non-null    float64
 9   drainase           247 non-null    int64
 10  tekstur            247 non-null    object
 11  kedalaman_tanah    247 non-null    int64
 12  ktk_tanah          247 non-null    float64
 13  kejenuhan_basa     247 non-null    float64
 14  ph_h2o             247 non-null    float64
 15  c_organik          247 non-null    float64
 16  n_total            247 non-null    float64
 17  p2o5               247 non-null    float64
 18  k2o                247 non-null    float64
 19  lereng             247 non-null    int64
 20  bahaya_erosi       155 non-null    float64
 21  label_evaluasi     247 non-null    object
 22  kelas_potensial    247 non-null    object
dtypes: float64(11), int64(6), object(6)
memory usage: 44.5+ KB

## **Data Cleaning**