<a href="https://colab.research.google.com/github/fhallatu/2_version-control-and-branch-management-git/blob/main/Soyaland_ABC_CART.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import label_binarize

from IPython.display import Image, display

import graphviz

import matplotlib.pyplot as plt
import matplotlib.image as pltimg

import pydotplus

from scipy import interp
from itertools import cycle

import random

In [ ]:
path_dataset = "/content/drive/MyDrive/Data_Used/data_training.csv"
df = pd.read_csv(path_dataset, sep=';')
df.head()

,No.,id_kecamatan,id_kabupaten,id_provinsi,temperatur_rerata,curah_hujan,kelembaban,bulan_basah,drainase,tekstur,...,ph_h2o,c_organik,n_total,p2o5,k2o,lereng,bahaya_erosi,label_evaluasi,cart,abc_cart
0,1,170902,1709,17,26.07,3025,83.51,7,2,1,...,5.42,1.25,2,1,1,3,1,N,NaN,NaN
1,2,170903,1709,17,26.07,2655,83.51,7,2,1,...,5.42,1.25,2,1,1,3,1,N,NaN,NaN
2,3,170902,1709,17,26.23,3025,83.51,7,2,1,...,5.42,1.25,2,1,1,1,1,N,NaN,NaN
3,4,170903,1709,17,26.23,2655,83.51,7,2,1,...,5.42,1.25,2,1,1,1,1,N,NaN,NaN
4,5,170904,1709,17,25.77,2655,83.51,7,2,2,...,5.42,1.25,2,1,1,3,1,N,NaN,NaN

# **Import Data**

# **Data Preparation**

## **Drop Column**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No.                176 non-null    int64
 1   id_kecamatan       176 non-null    int64
 2   id_kabupaten       176 non-null    int64
 3   id_provinsi        176 non-null    int64
 4   temperatur_rerata  176 non-null    float64
 5   curah_hujan        176 non-null    int64
 6   kelembaban         176 non-null    float64
 7   bulan_basah        176 non-null    int64
 8   drainase           176 non-null    int64
 9   tekstur            176 non-null    int64
 10  kedalaman_tanah    176 non-null    int64
 11  ktk_tanah          176 non-null    float64
 12  kejenuhan_basa     176 non-null    float64
 13  ph_h2o             176 non-null    float64
 14  c_organik          176 non-null    float64
 15  n_total            176 non-null    int64
 16  p2o5               176 non-null    int64
 17  k2o                176 non-null    int64
 18  lereng             176 non-null    int64
 19  bahaya_erosi       176 non-null    int64
 20  label_evaluasi     176 non-null    object
 21  cart               0 non-null      float64
 22  abc_cart           0 non-null      float64
dtypes: float64(8), int64(14), object(1)
memory usage: 31.8+ KB

In [ ]:
df.drop(["No.","id_kecamatan","id_kabupaten","id_provinsi","cart","abc_cart"], axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temperatur_rerata  176 non-null    float64
 1   curah_hujan        176 non-null    int64
 2   kelembaban         176 non-null    float64
 3   bulan_basah        176 non-null    int64
 4   drainase           176 non-null    int64
 5   tekstur            176 non-null    int64
 6   kedalaman_tanah    176 non-null    int64
 7   ktk_tanah          176 non-null    float64
 8   kejenuhan_basa     176 non-null    float64
 9   ph_h2o             176 non-null    float64
 10  c_organik          176 non-null    float64
 11  n_total            176 non-null    int64
 12  p2o5               176 non-null    int64
 13  k2o                176 non-null    int64
 14  lereng             176 non-null    int64
 15  bahaya_erosi       176 non-null    int64
 16  label_evaluasi     176 non-null    object
dtypes: float64(6), int64(10), object(1)
memory usage: 23.5+ KB

## **Data Cleaning**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temperatur_rerata  176 non-null    float64
 1   curah_hujan        176 non-null    int64
 2   kelembaban         176 non-null    float64
 3   bulan_basah        176 non-null    int64
 4   drainase           176 non-null    int64
 5   tekstur            176 non-null    int64
 6   kedalaman_tanah    176 non-null    int64
 7   ktk_tanah          176 non-null    float64
 8   kejenuhan_basa     176 non-null    float64
 9   ph_h2o             176 non-null    float64
 10  c_organik          176 non-null    float64
 11  n_total            176 non-null    int64
 12  p2o5               176 non-null    int64
 13  k2o                176 non-null    int64
 14  lereng             176 non-null    int64
 15  bahaya_erosi       176 non-null    int64
 16  label_evaluasi     176 non-null    object
dtypes: float64(6), int64(10), object(1)
memory usage: 23.5+ KB

In [ ]:
df.isna().sum()

temperatur_rerata    0
curah_hujan          0
kelembaban           0
bulan_basah          0
drainase             0
tekstur              0
kedalaman_tanah      0
ktk_tanah            0
kejenuhan_basa       0
ph_h2o               0
c_organik            0
n_total              0
p2o5                 0
k2o                  0
lereng               0
bahaya_erosi         0
label_evaluasi       0
dtype: int64

## **Split Data**

### **Variable Independent & Variable Dependent**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temperatur_rerata  176 non-null    float64
 1   curah_hujan        176 non-null    int64
 2   kelembaban         176 non-null    float64
 3   bulan_basah        176 non-null    int64
 4   drainase           176 non-null    int64
 5   tekstur            176 non-null    int64
 6   kedalaman_tanah    176 non-null    int64
 7   ktk_tanah          176 non-null    float64
 8   kejenuhan_basa     176 non-null    float64
 9   ph_h2o             176 non-null    float64
 10  c_organik          176 non-null    float64
 11  n_total            176 non-null    int64
 12  p2o5               176 non-null    int64
 13  k2o                176 non-null    int64
 14  lereng             176 non-null    int64
 15  bahaya_erosi       176 non-null    int64
 16  label_evaluasi     176 non-null    object
dtypes: float64(6), int64(10), object(1)
memory usage: 23.5+ KB

In [ ]:
df.columns

Index(['temperatur_rerata', 'curah_hujan', 'kelembaban', 'bulan_basah',
       'drainase', 'tekstur', 'kedalaman_tanah', 'ktk_tanah', 'kejenuhan_basa',
       'ph_h2o', 'c_organik', 'n_total', 'p2o5', 'k2o', 'lereng',
       'bahaya_erosi', 'label_evaluasi'],
      dtype='object')

In [ ]:
def get_split_variabel(dataset):
  x = dataset.iloc[:,:-1]
  y = dataset.iloc[:,-1]

  return x,y

In [ ]:
get_split_variabel(df)

(     temperatur_rerata  curah_hujan  kelembaban  bulan_basah  drainase  \
 0                26.07         3025       83.51            7         2
 1                26.07         2655       83.51            7         2
 2                26.23         3025       83.51            7         2
 3                26.23         2655       83.51            7         2
 4                25.77         2655       83.51            7         2
 ..                 ...          ...         ...          ...       ...
 171              24.54         2586       68.50            7         5
 172              24.54         2586       68.50            7         5
 173              25.18         2489       68.50            5         5
 174              25.18         2586       68.50            7         5
 175              25.18         1625       68.50            7         5

      tekstur  kedalaman_tanah  ktk_tanah  kejenuhan_basa  ph_h2o  c_organik  \
 0          1              100      61.09           53.11    5.42       1.25
 1          1              100      61.09           53.11    5.42       1.25
 2          1              100      61.09           53.11    5.42       1.25
 3          1              100      61.09           53.11    5.42       1.25
 4          2              100      61.09           53.11    5.42       1.25
 ..       ...              ...        ...             ...     ...        ...
 171        2              110      16.50            7.42    5.34       0.67
 172        2              110      16.50            7.42    5.34       0.67
 173        1              120      19.65           12.32    5.85       1.05
 174        1              120      19.65           12.32    5.85       1.05
 175        1              120      19.65           12.32    5.85       1.05

      n_total  p2o5  k2o  lereng  bahaya_erosi
 0          2     1    1       3             1
 1          2     1    1       3             1
 2          2     1    1       1             1
 3          2     1    1       1             1
 4          2     1    1       3             1
 ..       ...   ...  ...     ...           ...
 171        5     1    1      25             3
 172        5     1    1      25             3
 173        2     3    2      25             3
 174        2     3    2      25             3
 175        2     3    2      25             3

 [176 rows x 16 columns], 0      N
 1      N
 2      N
 3      N
 4      N
       ..
 171    N
 172    N
 173    N
 174    N
 175    N
 Name: label_evaluasi, Length: 176, dtype: object)

# **Artificial Bee Colony**

In [ ]:
class EmployedBees:

    def __init__(self, model, features, train_data, train_labels, test_data, test_labels, current_food_source, modification_rate, MAX_LIMIT):
        self.current_limit = 0
        self.MAX_LIMIT = MAX_LIMIT
        self.train_data = train_data
        self.train_labels = train_labels
        self.test_data = test_data
        self.test_labels = test_labels
        self.features = train_data.columns
        self.current_food_source = current_food_source
        self.modification_rate = modification_rate
        self.model = model

        selected_features = [f for i, f in enumerate(self.features) if self.current_food_source[i] == 1]

        self.model.fit(self.train_data[selected_features], self.train_labels)
        self.y_pred = self.model.predict(self.test_data[selected_features])
        self.current_fitness = accuracy_score(self.test_labels.to_numpy(), self.y_pred)

    def calculate_fitness(self):
        neighbor = [(int(not bit) if random.uniform(0,1) < self.modification_rate else bit) for bit in self.current_food_source]
        if(sum(neighbor)==0):
          rand_index = random.randrange(0, len(neighbor))
          neighbor[rand_index] = 1

        selected_features = [f for i, f in enumerate(self.features) if neighbor[i] == 1]

        self.model.fit(self.train_data[selected_features], self.train_labels)
        self.y_pred = self.model.predict(self.test_data[selected_features])
        fitness = accuracy_score(self.test_labels, self.y_pred)

        if fitness > self.current_fitness:
            self.current_limit = 0
            self.current_food_source = neighbor
            self.current_fitness = fitness
        else:
            self.current_limit += 1
            if self.current_limit != self.MAX_LIMIT:
                self.calculate_fitness()
            else:
                self.current_limit = 0
                self.current_food_source = [random.choice((0,1)) for _ in range(len(self.current_food_source))]

    def get_y_pred(self):
        return self.y_pred

    def get_current_fitness(self):
        return self.current_fitness

    def get_current_food_source(self):
        return self.current_food_source

    def generate_new_food_source(self):
        self.current_food_source = np.array(
            [random.choice((0, 1)) for _ in range(len(self.current_food_source))])

In [ ]:
class OnlookerBees:

    def __init__(self, employed_bees):
        self.employed_bees = employed_bees
        self.bees_distribution = np.array([])
        self.food_source_size = len(self.employed_bees[0].get_current_food_source())
        self.best_fitness = 0
        self.best_food_source = np.array([])
        self.best_employed_bee = None
        print("Initialization OnlookerBee")

    def get_best_food_source(self):
        return self.best_food_source

    def get_best_employed_bee(self):
        return self.best_employed_bee

    def get_best_fitness(self):
        return self.best_fitness

    def evaluates_nectar(self):
        for i in range(len(self.employed_bees)):
            self.employed_bees[i].calculate_fitness()

        self.roulette_wheel()

    def roulette_wheel(self):
        self.bees_distribution = np.array([])
        num_of_bees = len(self.employed_bees)
        count = 0
        total_fitness = 0
        total_fitness = np.array([])

        for bee in self.employed_bees:
            fitness = bee.get_current_fitness()
            if fitness > self.best_fitness:
                self.best_food_source = bee.get_current_food_source()
                self.best_fitness = fitness
                self.best_employed_bee = bee
            total_fitness = np.append(total_fitness, fitness)

        avg_fitness = np.mean(total_fitness)
        v_fitness = np.max(total_fitness) - np.min(total_fitness)
        var_fitness = np.std(total_fitness)


        for bee in self.employed_bees:
            count += 1
            freq_d = (bee.get_current_fitness() - avg_fitness)/v_fitness
            if freq_d < var_fitness:
              freq_d = 0
            freq = int(freq_d * len(self.employed_bees))
            print(f'{count} bee: food source - {bee.get_current_food_source()};')
            print(f'{count} bee: fitness - {"{:.4f}".format(bee.get_current_fitness())}')
            for i in range(freq):
                self.bees_distribution = np.append(self.bees_distribution, bee)

        num_of_dist = len(self.bees_distribution)

        for i in range(len(self.employed_bees)):
          freq_d = (bee.get_current_fitness() - avg_fitness)/v_fitness
          if freq_d < var_fitness:
            self.employed_bees[i] = self.bees_distribution[random.randrange(
                0, num_of_dist)]

In [ ]:
class ArtificialBeeColony:

    def __init__(self, model, train_data, test_data, modification_rate, food_sources_num):
        self.food_sources = np.array([])
        self.features = train_data.columns.copy()
        self.train_data = train_data.copy()
        self.test_data = test_data.copy()
        self.fitness = 0.0
        self.fitnesses = np.array([])
        self.modification_rate = modification_rate
        self.selected_features = self.features
        self.model = model
        self.features_bounds = np.array([[self.test_data.iloc[:, i].min(axis=0), self.test_data.iloc[:, 
        i].max(axis=0)] for i in range(len(self.features))])
        self.food_sources_num = food_sources_num

    def initialize_food_source(self, food_source_size, food_source_num):
        self.food_sources = np.empty((0, food_source_size), np.int_)
        for i in range(food_source_num):
            self.food_sources = np.append(self.food_sources, np.array([[1 if j == i % food_source_size else 0 for j in range(food_source_size)]]), axis=0)

    def execute(self, train_data, train_labels, test_data, test_labels, cycle, target, max_limit):
        self.initialize_food_source(len(self.features), self.food_sources_num)


        best_food_source = np.array([random.choice((0, 1)) for _ in range(len(self.features))])
        
        employed_bees = np.array([])
        food_source_counter = 0
        iterasi = 0
        for food_source in self.food_sources:
            employed_bees = np.append(employed_bees, EmployedBees(self.model, self.features, train_data, train_labels, test_data, test_labels, food_source, self.modification_rate, max_limit))

            food_source_counter += 1

        print(f'Created {len(employed_bees)} employed_bees')
        
        for _ in range(cycle):

            print('Evaluates nectar start')
            onlooker_bees = OnlookerBees(employed_bees)
            print('Evaluates nectar end')
            onlooker_bees.evaluates_nectar()

            self.fitness = onlooker_bees.get_best_fitness()
            print(f'Best fitness {self.fitness}')
            best_food_source = onlooker_bees.get_best_food_source()
            print(f'Best food source {best_food_source}')
            self.selected_features = [f for i, f in enumerate(self.features) if best_food_source[i] == 1]
            print(f'Selected Features {self.selected_features}')
            print('\n')

            if self.fitness >= target:
                return self.fitness, self.selected_features, onlooker_bees.get_best_employed_bee(), self.fitnesses

        return self.fitness, np.max(self.fitnesses), self.selected_features, onlooker_bees.get_best_employed_bee(), self.fitnesses

In [ ]:
class abc_cart:

  def __init__(self, dataset):
    self.dataset = dataset

  def run_cart_abc(self):
    features, labels = get_split_variabel(self.dataset)
    x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size = 0.2, random_state=0)

    dt = tree.DecisionTreeClassifier()
    model = dt.fit(x_train, y_train)

    score = model.score(x_test, y_test)

    modification_rate = 0.1
    cycle = 1000
    max_limit = 3
    food_source_num = len(x_train)

    ABC = ArtificialBeeColony(model, x_train, x_test, modification_rate, food_source_num)
    ABC.execute(x_train, y_train, x_test, y_test, cycle, score, max_limit)

    print('-------------------------------------------------- Output Selection Features --------------------------------------------')
    best_fitness = getattr(ABC, 'fitness')
    print('Best Fitness :', best_fitness)
    selected_features = getattr(ABC, 'selected_features')
    print('Best Selected Features :', selected_features)

In [ ]:
abc_cart(df).run_cart_abc()

Created 140 employed_bees
Evaluates nectar start
Initialization OnlookerBee
Evaluates nectar end
1 bee: food source - [0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1];
1 bee: fitness - 0.8889
2 bee: food source - [0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0];
2 bee: fitness - 0.9167
3 bee: food source - [0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
3 bee: fitness - 0.9167
4 bee: food source - [0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0];
4 bee: fitness - 0.9167
5 bee: food source - [1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0];
5 bee: fitness - 0.8889
6 bee: food source - [1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0];
6 bee: fitness - 0.8889
7 bee: food source - [1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0];
7 bee: fitness - 0.8889
8 bee: food source - [0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1];
8 bee: fitness - 0.8889
9 bee: food source - [0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1];
9 bee: fitness - 0.9444
10 bee: food source - [0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0];
10 bee: fitness - 0.8889
11 bee: food source - [0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1];
11 bee: fitness - 0.8889
12 bee: food source - [1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0];
12 bee: fitness - 0.8889
13 bee: food source - [0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0];
13 bee: fitness - 0.8889
14 bee: food source - [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1];
14 bee: fitness - 0.9444
15 bee: food source - [1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1];
15 bee: fitness - 0.8889
16 bee: food source - [0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0];
16 bee: fitness - 0.8889
17 bee: food source - [1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1];
17 bee: fitness - 0.8889
18 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0];
18 bee: fitness - 0.9444
19 bee: food source - [0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1];
19 bee: fitness - 0.8889
20 bee: food source - [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1];
20 bee: fitness - 0.8889
21 bee: food source - [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
21 bee: fitness - 0.9167
22 bee: food source - [0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0];
22 bee: fitness - 0.8889
23 bee: food source - [0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0];
23 bee: fitness - 0.8889
24 bee: food source - [1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0];
24 bee: fitness - 0.8889
25 bee: food source - [0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0];
25 bee: fitness - 0.8889
26 bee: food source - [1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0];
26 bee: fitness - 0.8611
27 bee: food source - [1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1];
27 bee: fitness - 0.8889
28 bee: food source - [1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0];
28 bee: fitness - 0.8889
29 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0];
29 bee: fitness - 0.9167
30 bee: food source - [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1];
30 bee: fitness - 0.8889
31 bee: food source - [1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1];
31 bee: fitness - 0.8889
32 bee: food source - [0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0];
32 bee: fitness - 0.8889
33 bee: food source - [1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1];
33 bee: fitness - 0.8889
34 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0];
34 bee: fitness - 0.9444
35 bee: food source - [0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
35 bee: fitness - 0.9167
36 bee: food source - [0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1];
36 bee: fitness - 0.8889
37 bee: food source - [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1];
37 bee: fitness - 0.9444
38 bee: food source - [1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0];
38 bee: fitness - 0.8889
39 bee: food source - [0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0];
39 bee: fitness - 0.8889
40 bee: food source - [0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1];
40 bee: fitness - 0.9167
41 bee: food source - [1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1];
41 bee: fitness - 0.8889
42 bee: food source - [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0];
42 bee: fitness - 0.8889
43 bee: food source - [0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0];
43 bee: fitness - 0.8889
44 bee: food source - [0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0];
44 bee: fitness - 0.8889
45 bee: food source - [0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1];
45 bee: fitness - 0.8889
46 bee: food source - [1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0];
46 bee: fitness - 0.8889
47 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0];
47 bee: fitness - 0.9444
48 bee: food source - [1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1];
48 bee: fitness - 0.8889
49 bee: food source - [0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1];
49 bee: fitness - 0.8889
50 bee: food source - [1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1];
50 bee: fitness - 1.0000
51 bee: food source - [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1];
51 bee: fitness - 0.8889
52 bee: food source - [0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0];
52 bee: fitness - 0.8889
53 bee: food source - [0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1];
53 bee: fitness - 0.8889
54 bee: food source - [1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1];
54 bee: fitness - 0.8889
55 bee: food source - [0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0];
55 bee: fitness - 0.8889
56 bee: food source - [0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0];
56 bee: fitness - 0.8889
57 bee: food source - [1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0];
57 bee: fitness - 0.8889
58 bee: food source - [0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0];
58 bee: fitness - 0.8889
59 bee: food source - [1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1];
59 bee: fitness - 0.8889
60 bee: food source - [1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0];
60 bee: fitness - 0.8889
61 bee: food source - [1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1];
61 bee: fitness - 0.8889
62 bee: food source - [1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0];
62 bee: fitness - 0.8889
63 bee: food source - [0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1];
63 bee: fitness - 0.8889
64 bee: food source - [1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1];
64 bee: fitness - 0.8889
65 bee: food source - [0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0];
65 bee: fitness - 0.8889
66 bee: food source - [0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0];
66 bee: fitness - 0.9167
67 bee: food source - [1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0];
67 bee: fitness - 0.8889
68 bee: food source - [0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0];
68 bee: fitness - 0.8889
69 bee: food source - [0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1];
69 bee: fitness - 0.9167
70 bee: food source - [0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1];
70 bee: fitness - 0.8889
71 bee: food source - [1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1];
71 bee: fitness - 0.8889
72 bee: food source - [0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1];
72 bee: fitness - 0.8889
73 bee: food source - [1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0];
73 bee: fitness - 0.8889
74 bee: food source - [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0];
74 bee: fitness - 0.8889
75 bee: food source - [0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1];
75 bee: fitness - 0.8889
76 bee: food source - [0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0];
76 bee: fitness - 0.8889
77 bee: food source - [0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1];
77 bee: fitness - 0.8889
78 bee: food source - [1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1];
78 bee: fitness - 0.8889
79 bee: food source - [0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0];
79 bee: fitness - 0.8889
80 bee: food source - [0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1];
80 bee: fitness - 0.8889
81 bee: food source - [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0];
81 bee: fitness - 0.8889
82 bee: food source - [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0];
82 bee: fitness - 1.0000
83 bee: food source - [1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1];
83 bee: fitness - 0.8889
84 bee: food source - [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0];
84 bee: fitness - 0.8889
85 bee: food source - [1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0];
85 bee: fitness - 0.8889
86 bee: food source - [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0];
86 bee: fitness - 0.8889
87 bee: food source - [0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0];
87 bee: fitness - 0.8889
88 bee: food source - [1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1];
88 bee: fitness - 0.8889
89 bee: food source - [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1];
89 bee: fitness - 0.8889
90 bee: food source - [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0];
90 bee: fitness - 0.8889
91 bee: food source - [0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1];
91 bee: fitness - 0.8889
92 bee: food source - [1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1];
92 bee: fitness - 0.8889
93 bee: food source - [0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1];
93 bee: fitness - 0.8889
94 bee: food source - [0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1];
94 bee: fitness - 0.8889
95 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0];
95 bee: fitness - 0.9444
96 bee: food source - [1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1];
96 bee: fitness - 0.8889
97 bee: food source - [0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0];
97 bee: fitness - 0.8889
98 bee: food source - [0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0];
98 bee: fitness - 0.9444
99 bee: food source - [1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0];
99 bee: fitness - 0.8889
100 bee: food source - [0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1];
100 bee: fitness - 0.8889
101 bee: food source - [1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1];
101 bee: fitness - 0.8889
102 bee: food source - [0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0];
102 bee: fitness - 0.8889
103 bee: food source - [1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1];
103 bee: fitness - 0.8889
104 bee: food source - [0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0];
104 bee: fitness - 0.9167
105 bee: food source - [1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0];
105 bee: fitness - 0.9444
106 bee: food source - [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0];
106 bee: fitness - 0.8889
107 bee: food source - [0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1];
107 bee: fitness - 0.8889
108 bee: food source - [0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0];
108 bee: fitness - 0.8889
109 bee: food source - [1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1];
109 bee: fitness - 0.8889
110 bee: food source - [0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1];
110 bee: fitness - 0.8889
111 bee: food source - [1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0];
111 bee: fitness - 0.8889
112 bee: food source - [1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0];
112 bee: fitness - 0.8889
113 bee: food source - [0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1];
113 bee: fitness - 0.8889
114 bee: food source - [0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1];
114 bee: fitness - 0.9444
115 bee: food source - [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
115 bee: fitness - 0.9444
116 bee: food source - [0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0];
116 bee: fitness - 0.8889
117 bee: food source - [1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0];
117 bee: fitness - 0.8889
118 bee: food source - [1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1];
118 bee: fitness - 0.8889
119 bee: food source - [0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1];
119 bee: fitness - 0.8889
120 bee: food source - [1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0];
120 bee: fitness - 0.8889
121 bee: food source - [1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1];
121 bee: fitness - 0.8889
122 bee: food source - [0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0];
122 bee: fitness - 0.8889
123 bee: food source - [1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0];
123 bee: fitness - 0.8889
124 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
124 bee: fitness - 0.9167
125 bee: food source - [1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1];
125 bee: fitness - 0.8889
126 bee: food source - [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0];
126 bee: fitness - 0.9167
127 bee: food source - [0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1];
127 bee: fitness - 0.8889
128 bee: food source - [1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1];
128 bee: fitness - 0.8889
129 bee: food source - [0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0];
129 bee: fitness - 0.8889
130 bee: food source - [1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1];
130 bee: fitness - 0.9167
131 bee: food source - [0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1];
131 bee: fitness - 0.8889
132 bee: food source - [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0];
132 bee: fitness - 0.8889
133 bee: food source - [1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1];
133 bee: fitness - 0.8889
134 bee: food source - [0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1];
134 bee: fitness - 0.9444
135 bee: food source - [1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0];
135 bee: fitness - 0.8889
136 bee: food source - [0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0];
136 bee: fitness - 0.9167
137 bee: food source - [1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1];
137 bee: fitness - 0.8889
138 bee: food source - [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0];
138 bee: fitness - 0.8889
139 bee: food source - [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0];
139 bee: fitness - 0.9444
140 bee: food source - [0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1];
140 bee: fitness - 0.8889
Best fitness 1.0
Best food source [1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1]
Selected Features ['temperatur_rerata', 'curah_hujan', 'tekstur', 'n_total', 'bahaya_erosi']


-------------------------------------------------- Output Selection Features --------------------------------------------
Best Fitness : 1.0
Best Selected Features : ['temperatur_rerata', 'curah_hujan', 'tekstur', 'n_total', 'bahaya_erosi']